/* footer */
.footer {
  width: 100%;
  background: var(--Default-Black, rgba(11, 13, 23, 1));
}

.footer__wrapper {
  display: flex;
  flex-direction: column;
}

.footer__navigator {
  margin-top: 96px;
  display: flex;
}

.footer__text {
  margin-top: 24px;
  width: 255px;
  height: 96px;
  color: var(--Text-Gray300, rgba(217, 219, 225, 1));
  font-family: "Manrope";
  font-style: var(--font-style);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__nav-wrapper {
  flex-grow: 1;
}

.footer__nav {
  margin-top: 24px;
}

.footer__social-list {
  margin-top: 24px;
  display: flex;
  gap: 16px;
}

.footer__social-link:hover {
  filter: brightness(0) saturate(100%) invert(25%) sepia(100%) saturate(5000%)
    hue-rotate(320deg);
}

.footer__social-img {
  width: 24px;
  height: 24px;
  display: block;
  filter: brightness(0) invert(1);
  transition: filter 0.8s ease;
}

.footer__nav-wrapper {
  display: flex;
  justify-content: space-around;
}

.footer__nav-title {
  color: var(--Default-White, rgba(255, 255, 255, 1));
  font-size: 20px;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__nav-link {
  color: var(--Text-Gray300, rgba(217, 219, 225, 1));
  font-style: var(--font-style);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.footer__nav-list li {
  margin-top: 16px;
}

.footer__nav-list li:first-child {
  margin-top: 0;
}

.footer__nav-link:hover {
  color: var(--PremiumPink, var(--primary-color));
  transition: var(--transition);
}

.footer__nav-link-contact {
  color: var(--Text-Gray300, rgba(217, 219, 225, 1));
  font-style: var(--font-style);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
  text-decoration: none;
  cursor: pointer;
}

.footer__nav-list-contact li {
  margin-top: 24px;
}

.footer__nav-contact {
  position: relative;
}

.footer__nav-link-contact.message::before {
  content: "";
  display: block;
  background-image: url(/GoodLyfe/resource/image/Message.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
}

.footer__nav-link-contact.calling::before {
  content: "";
  display: block;
  background-image: url(/GoodLyfe/resource/image/Calling.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
}

.footer__nav-link-contact.location::before {
  content: "";
  display: block;
  background-image: url(/GoodLyfe/resource/image/Location.svg);
  width: 24px;
  height: 24px;
  position: absolute;
  left: -30px;
  bottom: 10px;
}

.footer__nav-link-contact:hover {
  color: var(--PremiumPink, var(--primary-color));
  transition: var(--transition);
}

.footer__copyrigth-wrapper {
  margin-top: 105px;
  display: flex;
  justify-content: space-between;
}

.footer__copyrigth-text {
  color: var(--Text-Gray300, rgba(217, 219, 225, 1));
  font-style: var(--font-style);
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: left;
}

.footer__nav-list-terms-of-service {
  display: flex;
  gap: 20px;
}

.footer__nav-list-terms-of-service li::after {
  content: "";
  display: inline-block;
  width: 2px;
  height: 12px;
  background-color: var(--Text-Gray300, rgba(217, 219, 225, 1));
  margin-left: 15px;
  vertical-align: middle;
}

.footer__nav-list-terms-of-service li:last-child::after {
  display: none;
}
