@import url(./header.css);
@import url(./intro.css);
@import url(./faq.css);
@import url(./galery.css);
@import url(./sevises.css);
@import url(./reviews.css);
@import url(./promo.css);

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
  background: #ffffff;
}

section {
  margin: 0 auto;
  width: 1440px;
}

button {
  border-radius: 38.5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.container {
  padding: 0 140px;
}

.input-indicator {
  display: none;
}

.label-indicator {
  display: block;
  width: 12px;
  height: 12px;
  background: #ffffff;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.2s ease;
}

.label-indicator.active {
  background: #e43071;
  transform: scale(1.4);
}

.label-indicator:hover {
  background: #e43071;
  transform: scale(1.4);
}
