@import url(./header.css);
@import url(./intro.css);
@import url(./faq.css);

html {
  scroll-behavior: smooth;
}

body {
  font-family: Poppins, sans-serif;
}

section {
  margin: 0 auto;
  width: 1440px;
}
.container {
  padding: 0 140px;
}
