@import url(./header.css);
@import url(./intro.css);
@import url(./faq.css);
@import url(./gallery.css);
@import url(./services.css);
@import url(./reviews.css);
@import url(./promo.css);
@import url(./social.css);
@import url(./footer.css);

:root {
  /* colors */
  --primary-color: #e43071;
  --secondary-color: #ffffff;
  --pink-color: #ffc1d8;
  --text-color: #000000;

  /* transition */
  --transition: all 0.8s ease;

  /* Typography */
  --font-family: Poppins, sans-serif;
  --font-weight-bold: 700;
  --font-weight-normal: 400;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: var(--font-family);
}
section {
  width: 100%;
}

button {
  border-radius: 38.5px;
  border: none;
  outline: none;
  cursor: pointer;
}
.container {
  margin: 0 auto;
  max-width: 1200px;
}

.input-indicator {
  display: none;
}

.label-indicator {
  display: block;
  width: 12px;
  height: 12px;
  background: var(--secondary-color);
  border-radius: 50%;
  cursor: pointer;
  transition: var(--transition);
}

.label-indicator.active {
  background: var(--primary-color);
  transform: scale(1.4);
}

.label-indicator:hover {
  background: var(--primary-color);
  transform: scale(1.4);
}
