.section__reviews {
  width: 100vw;
  background:
    linear-gradient(
      180deg,
      rgba(255, 255, 255, 1) 0%,
      rgba(255, 255, 255, 0) 100%
    ),
    rgba(244, 227, 233, 1);
}
.reviews {
  padding: 126px 0 125px 0;
}
.reviews__grid {
  position: relative;
  display: grid;
  grid-template-columns: 449px 449px;
  grid-template-rows: auto auto auto;
  gap: 33px;
  justify-content: center;
  grid-template-areas:
    "reviews__card-title reviews__card-1"
    "reviews__card-2 reviews__card-1"
    "reviews__card-2 reviews__card-3";
}

.reviews__grid-title {
  width: 414px;
}

.reviews__title {
  color: var(--GreyTwo, rgba(66, 66, 66, 1));
  font-weight: var(--font-weight-bold);
  font-size: 48px;
  font-weight: 600;
  line-height: 119.2%;
  letter-spacing: 0px;
}

.reviews__text {
  color: var(--GreyTwo, rgba(66, 66, 66, 1));
  font-style: var(--font-style);
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  letter-spacing: 0px;
  text-align: left;
}

.reviews__card-1 {
  grid-area: reviews__card-1;
  width: 449px;
  height: 343px;
  padding: 35px 32px 36px 27px;
  border-radius: 10px;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
  background: var(--secondary-color);
  justify-self: end;
  margin-top: 40px;
  transition: 0.7s;
  cursor: pointer;
}

.reviews__card-1:hover {
  transform: scale(1.05);
}

.reviews__card-2 {
  grid-area: reviews__card-2;
  width: 349px;
  height: 445px;
  padding: 46px 32px 36px 34px;
  border-radius: 10px;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
  background: var(--secondary-color);
  justify-self: end;
  transition: var(--transition);
  cursor: pointer;
}

.reviews__card-2:hover {
  transform: scale(1.05);
}

.reviews__card-3 {
  grid-area: reviews__card-3;
  width: 351px;
  height: 278px;
  padding: 31px 31px 30px 35px;
  border-radius: 10px;
  box-shadow: 1px 4px 8px 0px rgba(0, 0, 0, 0.18);
  background: var(--secondary-color);
  transition: var(--transition);
  cursor: pointer;
}

.reviews__card-3:hover {
  transform: scale(1.05);
}

.card__content {
  position: relative;
}

.card__content-title {
  color: var(--primary-color);
  font-weight: var(--font-weight-bold);
  font-size: 38px;
  font-weight: 600;
  line-height: 119.2%;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 17px;
}

.card_content-description {
  margin-left: 30px;
}

.card__content-text {
  color: rgba(66, 66, 66, 1);
  font-style: var(--font-style);
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0px;
  text-align: left;
  margin-bottom: 17px;
}

.card__info-author {
  display: flex;
}

.card__info-img {
  width: 59px;
  height: 57px;
  object-fit: cover;
  object-position: center;
  border-radius: 50%;
  margin-right: 17px;
}

.card__info-name {
  color: rgba(66, 66, 66, 1);
  font-weight: var(--font-weight-bold);
  font-size: 18px;
  font-weight: 600;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
}

.card__content-text::before {
  content: "";
  display: block;
  background-image: url("/GoodLyfe/resource/image/Real\ stories\ copy.svg");
  position: absolute;
  top: 43px;
  left: -5px;
  width: 29px;
  height: 67px;
}

.card__info-text {
  color: rgba(150, 155, 171, 1);
  font-style: var(--font-style);
  font-size: 14px;
  font-weight: 400;
  line-height: 34px;
  letter-spacing: 0px;
  text-align: left;
}
